body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #7180AC;
  color: #F7ECE1;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px 250px; /* Increase the top and bottom padding */
  background-color: #2B4570;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  border: 2px solid #2B4570;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300; /* Make the font thinner */
}
h2{
  text-align: center; 
  margin-bottom: 20px;
  font-weight: 300;
}

.logo, form, footer, .signup-text, .small-line {
  text-align: center;
}

form {
  max-width: 400px; /* Adjust the max-width as needed */
  margin: 0 auto;
  background-color: #2B4570;
  padding: 20px;
  border: 2px solid #F7ECE1; /* Border color */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],input[type="password"] {
  padding: 2px;
  margin: 0 auto 10px; /* Center horizontally with auto margins */
  border: none;
  font-family: 'Raleway', sans-serif;
  border-radius: 4px;
  display: block;
  width: 80%;
  background-color: rgba(0, 0, 0, 0); /* Set background color to transparent */
  border-bottom: 2px solid #F7ECE1; /* Add a bottom border for better visibility */
  color: #F7ECE1; /* Set text color to match the design */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #F7ECE1; /* Set placeholder text color */
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

button[type="submit"] {
  background-color: #8DA0A5;
  margin: 0 auto 10px; /* Center horizontally with auto margins */
  color: #F7ECE1;
  cursor: pointer;
  border: none; /* Remove border */
  font-family: 'Raleway', sans-serif;
  width: 80%;
  border-radius: 20px; /* Make border radius 20px for roundness */
  padding: 10px 20px; /* Add padding for better button appearance */
}
button:hover {
  background-color: #5B627F;
}

.signup-link {
  color: #6A90FF;
  text-decoration: underline;
}

footer {
  margin-top: 20px;
  font-size: 12px;
}
