.strengthStrengthMeter {
    padding: 15px;
    background-color: #333333;
    border-radius: 10px;
    max-width: 300px;
    margin:0 auto;
    margin-top: 20px;
}

.passwordStrengthContainer {
    width: 100%;
    background-color: #1e493c;
    border-radius: 5px;
    margin: 10px auto;
}

.strengthBar {
    height: 10px;
    border-radius: 10px;
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out, filter 0.5s ease-in-out;
    padding: 10px
}
