.home-page{
    justify-content: start;
    align-items: start;
    color: #fff;
}
.content {
    font-size: 16px;
    margin-left: 6rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
}
