.home-page{
    justify-content: start;
    align-items: start;
    color: #fff;
}
.content {
    font-size: 16px;
    margin-left: 6rem;
    transition: margin-left 200ms ease;
}

.navbar {
    width: 5rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
}

/* Small Screens */
@media only screen and (max-width: 600px) {
    .content {
        margin-left: 1rem;
    }
}
