.scrollFeed {
    padding: 5%;
    max-width: stretch;
    margin-left: 10rem;
    margin-right: auto;
} 

.post {
    margin: 5%;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    padding: 2%;
}

.loadPosts{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* Small Screens */
@media only screen and (max-width: 600px) {
    .scrollFeed {
       margin-left: 4rem; 
    }
}
